### Clickhouse

In [ ]:
!pip install clickhouse-driver

#### 1 способ- через Client

In [1]:
from clickhouse_driver import Client

In [26]:
# Подключение к базе данных ClickHouse с использованием пароля
client = Client(
    host='localhost',  # Адрес сервера (можно заменить на IP, если это контейнер Docker)
    port=19000,         # Порт, на котором работает ClickHouse
    user='default',  # Имя пользователя
    password='zOvU71y+',  # Пароль
    database='default'  # База данных (необязательно, если нужно подключение к конкретной БД)
)

In [27]:
# Пример запроса
result = client.execute('SELECT * FROM log1 LIMIT 5')

In [30]:
print(result, type(result))

[(datetime.datetime(2023, 1, 1, 0, 17, 42), 14822367), (datetime.datetime(2023, 1, 1, 0, 37, 2), 14822519), (datetime.datetime(2023, 1, 1, 1, 0, 20), 14822607), (datetime.datetime(2023, 1, 1, 1, 26, 38), 14822767), (datetime.datetime(2023, 1, 1, 1, 27, 5), 14822767)] <class 'list'>

In [29]:
for row in result:
    print(row)

(datetime.datetime(2023, 1, 1, 0, 17, 42), 14822367)
(datetime.datetime(2023, 1, 1, 0, 37, 2), 14822519)
(datetime.datetime(2023, 1, 1, 1, 0, 20), 14822607)
(datetime.datetime(2023, 1, 1, 1, 26, 38), 14822767)
(datetime.datetime(2023, 1, 1, 1, 27, 5), 14822767)

In [2]:
import pandas as pd

In [29]:
df1 = pd.DataFrame(result, columns=['event_time', 'uid'])
df1

           event_time       uid
0 2023-01-01 00:17:42  14822367
1 2023-01-01 00:37:02  14822519
2 2023-01-01 01:00:20  14822607
3 2023-01-01 01:26:38  14822767
4 2023-01-01 01:27:05  14822767

#### 2 способ- через Pandahouse

In [10]:
import pandahouse as ph

In [23]:
connection = dict(
    host='http://localhost:18123',  # Адрес сервера (можно заменить на IP, если это контейнер Docker)         # Порт, на котором работает ClickHouse
    user='default',  # Имя пользователя
    password='zOvU71y+',  # Пароль
    database='default'  # База данных (необязательно, если нужно подключение к конкретной БД)
)

In [31]:
query = """
SELECT *
FROM finance
LIMIT 5
"""
df2 = ph.read_clickhouse(query, connection=connection)
df2

           event_time  revenue_usd       uid  is_test
0 2023-01-01 00:17:42         0.99  14822367        0
1 2023-01-01 00:37:02         6.99  14822519        0
2 2023-01-01 01:00:20         4.99  14822607        0
3 2023-01-01 01:26:38         4.99  14822767        0
4 2023-01-01 01:27:05        19.99  14822767        0

### Читаем данные из csv в pandas и записываем в Сlickhouse

In [ ]:
query_create = """
CREATE TABLE default.medium (
    published String,
    domain String,
    url String
)
ENGINE = Log
"""
df_create = ph.read_clickhouse(query_create, connection=connection)
df_create

In [42]:
df_in = pd.read_csv("medium.csv", sep='\t')

In [43]:
ph.to_clickhouse(df_in, 'medium', index=False, connection=connection)

92191

### PostgreSQL

In [ ]:
!pip install psycopg2 #НУЖНО ДЛЯ sqlalchemy

In [33]:
from sqlalchemy import create_engine

In [34]:
db_config = {'user': 'student', # имя пользователя
            'pwd': 'qweasd963', # пароль
            'host': '95.163.241.236',
            'port': 5432, # порт подключения
            'db': 'nordwind'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

Коннекция к базе хранится в переменной engine. 
Теперь пишем и выполняем sql-запрос к базе данных  dash_visits, чтобы вытащить оттуда наши данные:

In [ ]:
query2 = ''' SELECT *
             FROM products
             LIMIT 5
        '''
    
df3= pd.io.sql.read_sql(query2, con = engine)

In [38]:
df3.head(5)

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

### Сохраняем наши данные в файл data.csv.

In [ ]:
df.to_csv('data.csv', index=False)

In [ ]:
dash_visits = pd.read_csv('data.csv')
dash_visits.head()

In [3]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.cbr-xml-daily.ru/daily_json.js'
r2 = requests.get(url)
data = r2.json()

#print(data)
print(data.keys())
data

dict_keys(['Date', 'PreviousDate', 'PreviousURL', 'Timestamp', 'Valute'])

{'Date': '2025-01-16T11:30:00+03:00',
 'PreviousDate': '2025-01-15T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2025/01/15/daily_json.js',
 'Timestamp': '2025-01-15T18:00:00+03:00',
 'Valute': {'AUD': {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 63.6894,
   'Previous': 64.0178},
  'AZN': {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 60.4752,
   'Previous': 60.8459},
  'GBP': {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов',
   'Value': 125.4358,
   'Previous': 125.6979},
  'AMD': {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 25.8253,
   'Previous': 26.0038},
  'BYN': {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 29.5926,
   'Previous': 29.5681},
  'BGN': {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 53.8526,
   'Previous': 53.9341},
  'BRL': {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 16.946,
   'Previous': 16.9359},
  'HUF': {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Форинтов',
   'Value': 25.7767,
   'Previous': 25.7347},
  'VND': {'ID': 'R01150',
   'NumCode': '704',
   'CharCode': 'VND',
   'Nominal': 10000,
   'Name': 'Донгов',
   'Value': 42.2417,
   'Previous': 42.4867},
  'HKD': {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 1,
   'Name': 'Гонконгский доллар',
   'Value': 13.2263,
   'Previous': 13.3091},
  'GEL': {'ID': 'R01210',
   'NumCode': '981',
   'CharCode': 'GEL',
   'Nominal': 1,
   'Name': 'Лари',
   'Value': 36.1388,
   'Previous': 36.5609},
  'DKK': {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 1,
   'Name': 'Датская крона',
   'Value': 14.1175,
   'Previous': 14.1392},
  'AED': {'ID': 'R01230',
   'NumCode': '784',
   'CharCode': 'AED',
   'Nominal': 1,
   'Name': 'Дирхам ОАЭ',
   'Value': 27.994,
   'Previous': 28.1656},
  'USD': {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 102.8078,
   'Previous': 103.438},
  'EUR': {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 106.0971,
   'Previous': 106.2493},
  'EGP': {'ID': 'R01240',
   'NumCode': '818',
   'CharCode': 'EGP',
   'Nominal': 10,
   'Name': 'Египетских фунтов',
   'Value': 20.3831,
   'Previous': 20.477},
  'INR': {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 10,
   'Name': 'Индийских рупий',
   'Value': 11.8852,
   'Previous': 11.9513},
  'IDR': {'ID': 'R01280',
   'NumCode': '360',
   'CharCode': 'IDR',
   'Nominal': 10000,
   'Name': 'Рупий',
   'Value': 63.208,
   'Previous': 63.533},
  'KZT': {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Тенге',
   'Value': 19.3889,
   'Previous': 19.5713},
  'CAD': {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 71.5384,
   'Previous': 71.7771},
  'QAR': {'ID': 'R01355',
   'NumCode': '634',
   'CharCode': 'QAR',
   'Nominal': 1,
   'Name': 'Катарский риал',
   'Value': 28.2439,
   'Previous': 28.417},
  'KGS': {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 10,
   'Name': 'Сомов',
   'Value': 11.7563,
   'Previous': 11.8282},
  'CNY': {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 1,
   'Name': 'Юань',
   'Value': 13.9197,
   'Previous': 13.9486},
  'MDL': {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 54.6533,
   'Previous': 54.6707},
  'NZD': {'ID': 'R01530',
   'NumCode': '554',
   'CharCode': 'NZD',
   'Nominal': 1,
   'Name': 'Новозеландский доллар',
   'Value': 57.5724,
   'Previous': 57.9046},
  'NOK': {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 89.8732,
   'Previous': 90.0894},
  'PLN': {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Злотый',
   'Value': 24.8749,
   'Previous': 24.8303},
  'RON': {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 21.3003,
   'Previous': 21.3314},
  'XDR': {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 133.1351,
   'Previous': 133.6512},
  'SGD': {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 75.1299,
   'Previous': 75.4967},
  'TJS': {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Сомони',
   'Value': 93.9167,
   'Previous': 94.5088},
  'THB': {'ID': 'R01675',
   'NumCode': '764',
   'CharCode': 'THB',
   'Nominal': 10,
   'Name': 'Батов',
   'Value': 29.5816,
   'Previous': 29.8152},
  'TRY': {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 10,
   'Name': 'Турецких лир',
   'Value': 28.9917,
   'Previous': 29.1772},
  'TMT': {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 29.3737,
   'Previous': 29.5537},
  'UZS': {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 79.2597,
   'Previous': 79.7389},
  'UAH': {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Гривен',
   'Value': 24.3197,
   'Previous': 24.4712},
  'CZK': {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 41.6698,
   'Previous': 41.8185},
  'SEK': {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 91.4929,
   'Previous': 91.6832},
  'CHF': {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 112.7526,
   'Previous': 112.9359},
  'RSD': {'ID': 'R01805F',
   'NumCode': '941',
   'CharCode': 'RSD',
   'Nominal': 100,
   'Name': 'Сербских динаров',
   'Value': 90.3841,
   'Previous': 90.4984},
  'ZAR': {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Рэндов',
   'Value': 54.4271,
   'Previous': 54.5689},
  'KRW': {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон',
   'Value': 70.2575,
   'Previous': 70.3038},
  'JPY': {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Иен',
   'Value': 65.0518,
   'Previous': 65.6582}}}

In [8]:
df5=pd.DataFrame(data)
df5

,Date,PreviousDate,PreviousURL,Timestamp,Valute
AUD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01010', 'NumCode': '036', 'CharCode':..."
AZN,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01020A', 'NumCode': '944', 'CharCode'..."
GBP,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01035', 'NumCode': '826', 'CharCode':..."
AMD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01060', 'NumCode': '051', 'CharCode':..."
BYN,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01090B', 'NumCode': '933', 'CharCode'..."
BGN,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01100', 'NumCode': '975', 'CharCode':..."
BRL,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01115', 'NumCode': '986', 'CharCode':..."
HUF,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01135', 'NumCode': '348', 'CharCode':..."
VND,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01150', 'NumCode': '704', 'CharCode':..."
HKD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01200', 'NumCode': '344', 'CharCode':..."
GEL,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01210', 'NumCode': '981', 'CharCode':..."
DKK,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01215', 'NumCode': '208', 'CharCode':..."
AED,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01230', 'NumCode': '784', 'CharCode':..."
USD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01235', 'NumCode': '840', 'CharCode':..."
EUR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01239', 'NumCode': '978', 'CharCode':..."
EGP,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01240', 'NumCode': '818', 'CharCode':..."
INR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01270', 'NumCode': '356', 'CharCode':..."
IDR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01280', 'NumCode': '360', 'CharCode':..."
KZT,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01335', 'NumCode': '398', 'CharCode':..."
CAD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01350', 'NumCode': '124', 'CharCode':..."
QAR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01355', 'NumCode': '634', 'CharCode':..."
KGS,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01370', 'NumCode': '417', 'CharCode':..."
CNY,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01375', 'NumCode': '156', 'CharCode':..."
MDL,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01500', 'NumCode': '498', 'CharCode':..."
NZD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01530', 'NumCode': '554', 'CharCode':..."
NOK,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01535', 'NumCode': '578', 'CharCode':..."
PLN,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01565', 'NumCode': '985', 'CharCode':..."
RON,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01585F', 'NumCode': '946', 'CharCode'..."
XDR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01589', 'NumCode': '960', 'CharCode':..."
SGD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01625', 'NumCode': '702', 'CharCode':..."
TJS,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01670', 'NumCode': '972', 'CharCode':..."
THB,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01675', 'NumCode': '764', 'CharCode':..."
TRY,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01700J', 'NumCode': '949', 'CharCode'..."
TMT,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01710A', 'NumCode': '934', 'CharCode'..."
UZS,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01717', 'NumCode': '860', 'CharCode':..."
UAH,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01720', 'NumCode': '980', 'CharCode':..."
CZK,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01760', 'NumCode': '203', 'CharCode':..."
SEK,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01770', 'NumCode': '752', 'CharCode':..."
CHF,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01775', 'NumCode': '756', 'CharCode':..."
RSD,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01805F', 'NumCode': '941', 'CharCode'..."
ZAR,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01810', 'NumCode': '710', 'CharCode':..."
KRW,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01815', 'NumCode': '410', 'CharCode':..."
JPY,2025-01-16T11:30:00+03:00,2025-01-15T11:30:00+03:00,//www.cbr-xml-daily.ru/archive/2025/01/15/dail...,2025-01-15T18:00:00+03:00,"{'ID': 'R01820', 'NumCode': '392', 'CharCode':..."

455a82677f82   clickhouse              "/entrypoint.sh"         7 days ago      Up 3 hours                9009/tcp, 0.0.0.0:18123->8123/tcp, 0.0.0.0:19000->9000/tcp   some-clickhouse-server